*{
    margin: 0;
}
#logo{
    width: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: white;
    /* position: fixed;
    width: 100vw; */
}
#nav-links{
    display: flex;
    column-gap: 60px;
}
nav button{
    background-color: white;
    padding: 5px 20px;
    height: fit-content;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(211, 176, 128);
}