body{
    overflow-x: hidden;
    margin: 0;
   padding: 0;
}
#logo{
    width: 100px;
    height: 60px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: white;
    height: 40px;
    /* position: fixed;
    width: 100vw; */
}
#nav-links{
    display: flex;
    column-gap: 60px;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
nav button{
    background-color: white;
    padding: 5px 20px;
    height: fit-content;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(211, 176, 128);
}

#special{ 
    font-family:Baskervville, serif ;
    font-size: 60px;
    color: white;
     display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; 
}
#hero{
    background-image: url(../assets/images/cargo.jpg);
    width: 100vw;
    height: 100vh;
    /* background: no-repeat; */
    background-size: 100% ;
    display: flex;
    justify-content: center;
    align-items:center;
}
.top-header{
    background-color: rgb(46, 0, 0);
    text-decoration: none;
    
}
.t-header{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: rgb(46, 0, 0);
    color: white;
    height: 35px;
    align-items: center;
    padding: 0 30px;
}
.socials{
    text-decoration: none;
    color: white;
    display: flex;
    column-gap: 20px;
}
#about{
    padding: 80px 120px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    
   
}

#about img{
    width:100% ;
    height: inherit;
    border-top-left-radius: 100px;
   
    
}
.abtimg{
    width: 200px;
    height: 450px;
}
#redbox{
    box-sizing: border-box;
    position: absolute;
    background-color: #B40000;
    text-align: center;
   width: 170px;
  top: 570px;
  bottom: 20px;
  height: 130px;
  left: 400px;
    /* justify-content: center; */
    /* align-items: center; */
  
}
.about-cont{
    position: relative;
}
#redbox span{
   color: #fff;
   font-size: 60px;
   line-height: 1;
   /* display: block; */
   font-family: "Roboto", sans-serif;
   font-weight: 900px;
  
}
#redbox p{
    color: #fff;
    line-height: 1;
    /* width: fit-content; */
    font-family: "Roboto", sans-serif;
}